.cont {
    max-width: 1000px;
    margin: 0 auto;
}

.head {
    text-align: center;
}

input {
    max-width: 80px;
    color: #eaeaef;
    margin-right: 10px;
    height: 40px;
}


.for-inp {
    padding: 0;
    margin: 0;
    max-width: 800px;
}

input[type="checkbox"] {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

button {
    margin-left: 10px;
    height: 40px;
}