<div class="cont">
    <h2 class="head">Cache decorator</h2>
    <h4 class="descr">Any decorating method can be wrapped. In the browser console you can see the result of the method execution as well, this method was cached earlier.</h4>
    <p class="demo">To demonstrate the work of the decorator, a simple method is proposed, which returns factorial of entered number. Below you can see the results of his work.</p>
    <div class="for-inp">
        <input type="number" class="inp" placeholder="value" [(ngModel)]="num">
        <button (click)="onClick()">Go!</button>
    </div>

    <ul class="res-cont">
        <li class="res" *ngFor="let item of arr"><hr>{{item}}<hr></li>
    </ul>
</div>