.cont {
    max-width: 1000px;
    margin: 0 auto;
}

.head {
    text-align: center;
}

input {
    max-width: 80px;
    color: #eaeaef;
    margin-right: 10px;
    height: 40px;
}


.for-inp {
    padding: 0;
    max-width: 800px;
}

.for-inp button {
    height: 40px;
}

.res-cont {
    list-style: none;
    margin: 0;
    padding: 0;
}

.res {
    max-width: 800px;
}