<div class="cont">
    <h2 class="head">Log decorator</h2>
    <h4 class="descr">Any decorating method can be wrapped. In the browser console you can then see the arguments that are passed to the method, the result of the execution, as well as a text message that can be sent to the decorator.</h4>
    <p class="demo">To demonstrate the work of the decorator, a simple method is proposed, which adds two numbers. Below you can see the results of his work.</p>
    <div class="for-inp">
        <input type="number" class="inp" placeholder="value 1" [(ngModel)]="a">
        <span class="plus">+</span>
        <input type="number" class="inp2" placeholder="value 2"  [(ngModel)]="b">
        <button (click)="onclick()">Go!</button>
    </div>

    <ul class="res-cont">
        <li class="res" *ngFor="let item of arr"><hr>{{item}}<hr></li>
    </ul>
</div>




