@import url(https://fonts.googleapis.com/css?family=Khula);

body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

nav ul {
  list-style: none;
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  font-family: 'Khula', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  display: block;
  transition: .3s backgroung-color;
}

nav a:hover {
  color: #ffff05;
}

.active {
  background-color: black;
  color: #ffff05;
  cursor: default;
}

@media screen and (min-width: 600px) {
  nav li {
    width: 200px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
    display: inline-block;
    margin-right: -4px;
  }
}
