<header>
  <nav>
    <ul>
      <li class="log"><a routerLink="/log" routerLinkActive="active">Log decorator</a></li>
      <li class="cache"><a routerLink="/cache" routerLinkActive="active">Cache decorator</a></li>
      <li class="timing"><a routerLink="/timing" routerLinkActive="active">Timing decorator</a></li>
      <li class="throttle"><a routerLink="/throttle" routerLinkActive="active">Throttle decorator</a></li>
      <li class="debounce"><a routerLink="/debounce" routerLinkActive="active">Debounce decorator</a></li>
      <li class="check-access"><a routerLink="/check-access" routerLinkActive="active">Check-access decorator</a></li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>


